<template>
  <div class="wrapper">
    <div v-if="!submitName">
      <form @submit.prevent="SubmitName"  >
        <label class="formname">Enter your name to continue </label>

        <input type="text" class="formname" v-model="name" >

        <button class="button" type="submit" >
          submit
        </button>
      </form>
    </div>
    <div v-else>
      <form @submit.prevent="submitAnswer" v-if="!showScore" >
        <div class="question">

          <div class="q"> {{ questionCount }}) {{ selctedQuestion.question }} </div>
          <div class="option" v-for="(item, i) in selctedQuestion.answers" :key="i">
            <input type="radio" :id="`option${i}`" name="answers" v-model="selectedOption" :value="item">
            <label :for="`option${i}`" > {{ item }} </label>
          </div>
        </div>
        <button class="button" type="submit">
          submit
        </button>
      </form>
      <div class="score" v-else>
        <p class="result">Congrats {{name}} for completing the test</p>
        <p class="result">Score is {{ score }} out of {{  numquestions}}</p>
        <div class="question" v-for="(question, i) in questionChose" :key="i">
          {{ i }}) {{ question.question }}
          <ul>
            <!-- Sử dụng v-for để duyệt qua từng phần tử trong mảng answers -->
            <li v-for="(answer, index) in question.answers" :key="index"  >
              {{ answer }}
            </li>
            <p v-if="question.status==2">Your answer is incorrect</p>
            <p v-else>Your answer is correct</p>
            <p>The correct answer is: {{question.correctAnswer}}</p>

          </ul>

        </div>
        <button  class="button" @click="tryAgain">Try again</button>
      </div>
    </div>

  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";

import {fetchSomeData} from "../services/api";
const questions=ref([]);
let selctedQuestion = ref(null);
onMounted(async () => {
  questions.value = await fetchSomeData()
  console.log(questions.value)
})
console.log(questions.value)
const submitName = ref(false);
const name :string ='';
const SubmitName = () =>{
  submitName.value=true;
  console.log(questions.value)
   selctedQuestion = ref(getRandomQuestion(questions.value.filter((ques)=> ques.status=="0")));
  console.log(selctedQuestion)


}
function getRandomQuestion<T>(array: T[]): T | undefined {
  if (array.length === 0) {
    return undefined; // Trả về undefined nếu mảng rỗng
  }
  const randomIndex = Math.floor(Math.random() * array.length);
  return array[randomIndex];
}
const showScore = ref(false);
// const selctedQuestion = ref(getRandomQuestion(questions.value.filter((ques)=> ques.status=="0")));
const tryAgain=()=>{
  questionChose.value=[];
  selectedOption.value='';
  questions.value.forEach((item, index) => {
    item.status="0";
  });
  selctedQuestion.value= getRandomQuestion(questions.value.filter((ques)=> ques.status=="0"));
  showScore.value=false;
  questionCount.value=1;
  score.value=0;

}
const numquestions = ref(20);
const score = ref(0);
const questionCount = ref(1);
const selectedOption = ref("");

const questionChose = ref([]);

const submitAnswer = () => {
  if (selctedQuestion.value.correctAnswer== selectedOption.value) {
    selctedQuestion.value.status = "1";
    score.value++;
  }
  else{
    selctedQuestion.value.status = "2";
  }
  questionChose.value.push(selctedQuestion.value);
  if (questionCount.value < numquestions.value ) {
    selctedQuestion.value = getRandomQuestion(questions.value.filter((ques)=> ques.status=="0"));

    questionCount.value++
    selectedOption.value = "";
  } else {
    console.log(questionChose)
    showScore.value = true;
  }

}

</script>

<style scoped>
.wrapper {

  width: 400px;
  background-color: #fff;
  border-radius: 10px;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.question {
  flex: 1;
  padding: 1rem;
}

.button {
  background-color: #4273F4;
  border:none;
  padding: 1rem;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 30px;
}

.q {
  height: 40px;
}

.option {
  padding: 0.5em 0;
}
.score {
  display: flex;
  flex-direction: column;
  height: 100%;

}
.result{
  display: flex;
  align-items: center;
  justify-content: center;
}
.formname{
  margin: 0 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}
</style>
